---
import { EditorRoot } from '../modules';
import '../styles/index.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Typescript C Compiler</title>
  </head>

  <body>
    <EditorRoot client:only />
  </body>
</html>
