.c-card {
  display: flex;
  flex-direction: column;

  &.is-bordered {
    > .c-card-content {
      border: 1px solid webapp-color(card-border);
    }

    > .c-card-header {
      border-width: 1px;
      border-style: solid;
    }

    .c-card-header + .c-card-content {
      border-top: 0;
    }
  }

  &.is-rounded {
    $radius: webapp-config(card-radius);

    > .c-card-header {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    > .c-card-content {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;

      &:only-child {
        border-radius: $radius;
      }
    }
  }

  &-header {
    padding: (webapp-config(padding-space) * 2) (webapp-config(padding-space) * 4);

    &.is-primary {
      background: webapp-color(card-primary-background);
      border-color: webapp-color(card-primary-border);
    }

    &.is-secondary {
      background: webapp-color(card-secondary-background);
      border-color: webapp-color(card-secondary-border);
    }
  }

  &-content {
    flex: 1;

    &.is-spaced {
      padding: (webapp-config(card-space) * webapp-config(padding-space));
    }
  }
}
