.c {
  &-card {
    display: block;

    &.is-bordered {
      > .c-card-content {
        border: 1px solid webapp-color(card-border);
      }

      > .c-card-header {
        border-width: 1px;
        border-style: solid;
      }

      .c-card-header + .c-card-content {
        border-top: 0;
      }
    }

    &.is-rounded {
      $radius: webapp-config(card-radius);

      > .c-card-header {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
      }

      > .c-card-content {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;

        &:only-child {
          border-radius: $radius;
        }
      }
    }

    &-header {
      padding: (webapp-config(padding-space) * 2) (webapp-config(padding-space) * 4);

      &.is-primary {
        background: webapp-color(card-primary-background);
        border-color: webapp-color(card-primary-border);
      }

      &.is-secondary {
        background: webapp-color(card-secondary-background);
        border-color: webapp-color(card-secondary-border);
      }
    }

    &-content {
      &.is-spaced {
        padding: (webapp-config(card-space) * webapp-config(padding-space));
      }
    }
  }

  &-flash {
    position: relative;
    margin-top: 0px;
    padding: 16px;
    font-size: webapp-config(default-font-size);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: webapp-color(text-default);

    &.is-success {
      background-color: rgb(220, 255, 228);
      border-color: rgba(23, 111, 44, 0.2);
    }

    &.is-danger {
      background-color: rgb(255, 227, 230);
      border-color: rgba(158, 28, 35, 0.2);
    }

    &.is-warning {
      background-color: rgb(255, 251, 221);
      border-color: rgba(176, 136, 0, 0.2);
    }

    &.is-default {
      background-color: rgb(219, 237, 255);
      border-color: rgba(4, 66, 137, 0.2);
    }
  }

  &-nav {
    font-size: webapp-config(default-font-size);

    &__list {
      @extend .c-clean-list;

      display: flex;
      flex-direction: row;
      border-bottom: 1px solid webapp-color(border-default);
    }

    &__tab {
      margin-bottom: -1px;
      padding: 8px 12px;
      line-height: 20px;
      color: webapp-color(text-default);
      background-color: transparent;
      text-decoration: none;
      border-width: 1px 1px 0px;
      border-style: solid solid solid;
      border-color: transparent transparent transparent;
      border-bottom: 0px;
      cursor: pointer;

      &.is-active {
        color: rgb(36, 41, 46);
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-color: #fff;
        border-color: webapp-color(border-default);
      }
    }

    &__content {
      padding: 16px 8px;
    }
  }
}
