$webapp-config: () !default;
$webapp-colors: () !default;

$webapp-config: map-merge(
  (
    'container-width': 1500px,

    'card-space': 3,
    'card-radius': 6px,

    'padding-space-helpers-count': 5,
    'padding-space': 4px,
    'margin-space-helpers-count': 5,
    'margin-space': 4px,
    'grid-space': 4px,

    'default-font-size': 14px,
    'small-font-size': 12px,
  ),
  $webapp-config
);

$webapp-colors: map-merge(
  (
    'text-default': #24292e,
    'link': #007bff,
    'border-default': #e1e4e8,
    'tree-inner-border': #646464,

    'card-border': #e1e4e8,
    'card-primary-background': #f1f8ff,
    'card-primary-border': #c8e1ff,
    'card-secondary-background': #f6f8fa,
    'card-secondary-border': #e1e4e8,

    'muted-dark': rgb(108, 117, 125),
    'danger': rgb(220, 53, 69),
    'warning': rgb(255, 193, 7),
    'success': rgb(46, 164, 79),
    'success-dark': rgb(34, 134, 58),
    'info': rgba(0, 123, 255),

    'dimmed-purple': #708,
    'dimmed-green': #164,
    'dimmed-red': #a11,
    'dimmed-blue': #30a,
    'dimmed-purple-blue': #2900ff,
    'dimmed-brown': #a50,
  ),
  $webapp-colors
);

:root {
  @each $name, $color in $webapp-colors {
    --#{$name}: #{$color};
  }
}

@function webapp-color($color) {
  @if map-has-key($webapp-colors, $color) {
    @return map-get($webapp-colors, $color);
  } @else {
    @error "Unknown color #{$color}!"
  }
};

@function webapp-config($config) {
  @if map-has-key($webapp-config, $config) {
    @return map-get($webapp-config, $config);
  } @else {
    @error "Unknown config #{$config}!"
  }
};
