.o {
  &-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: webapp-config(default-font-size);
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color .2s cubic-bezier(.3,0,.5,1);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      outline: 0;
      transition-duration: .1s;
    }

    &.is-small {
      padding: 2px 8px;
      font-size: webapp-config(small-font-size);

      > svg {
        margin-right: 2px;
        height: 0.8em;
      }
    }

    &.is-default {
      color: #24292e;
      background-color: #fafbfc;
      border-color: rgba(27,31,35,.15);
      box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);

      &:hover {
        background-color: #f3f4f6;
      }
    }

    &.is-primary {
      color: rgb(255, 255, 255);
      box-shadow: rgba(20, 70, 32, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.03) 0px 2px 0px inset;
      background-color: webapp-color(success);
      border-color: webapp-color(success-dark);

      &:hover {
        background-color: webapp-color(success);
        border-color: rgba(27, 31, 35, 0.15);
      }
    }

    &.is-danger {
      color: webapp-color(danger);
      background-color: rgb(250, 251, 252);
      box-shadow: rgba(149, 157, 165, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 2px 0px inset;
      border-color: rgb(225, 228, 232);

      &:hover {
        color: rgb(255, 255, 255);
        background-color: webapp-color(danger);
        box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.03) 0px 2px 0px inset;
        border-color: rgba(27, 31, 35, 0.15);
      }
    }

    > svg {
      margin-left: -4px;
      margin-right: 8px;
    }
  }

  &-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;

    &.is-default {
      background-color: webapp-color(muted-dark);
    }

    &.is-primary {
      background-color: webapp-color(success);
    }

    &.is-danger {
      background-color: webapp-color(danger);
    }

    &.is-warning {
      background-color: webapp-color(warning);
    }
  }

  &-tree {
    $self: &;

    &, & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      margin-left: 10px;
    }

    li {
      margin: 0;
      padding: 0 7px;
      line-height: 20px;
      border-left: 1px solid webapp-color(tree-inner-border);
    }

    li:last-child {
      border-left: none;
    }

    &.is-nested {
      li:before {
        content: "";
        display: inline-block;
        position: relative;
        top: -0.3em;
        left: -7px;
        height: 1em;
        width: 12px;
        color: #fff;
        border-bottom: 1px solid webapp-color(tree-inner-border);
      }

      li:last-child:before {
        border-left: 1px solid webapp-color(tree-inner-border);
      }
    }

    &__label {
      margin-right: 1ch;
      color: webapp-color(dimmed-purple);
    }

    &__value {
      color: webapp-color(dimmed-brown);
    }
  }
}
