{
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "strict": 0,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/array-bracket-spacing": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-vars": [2],
    "no-empty": 2,
    "no-empty-character-class": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "block-scoped-var": 0,
    "default-case": 2,
    "no-alert": 2,
    "camelcase": 1,
    "no-array-constructor": 2,
    "no-caller": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-control-regex": 2,
    "no-extra-boolean-cast": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-redeclare": 2,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "quotes": [2, "single", "avoid-escape"]
  }
}