.c {
  &-errors-list {
    $list-item-spacing: 8px;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: $list-item-spacing;
        padding-bottom: $list-item-spacing;
        border-bottom: 1px solid webapp-color(border-default);
      }
    }

    &__logo {
      color: webapp-color(danger);
    }
  }

  &-binary-graph {
    &__list {
      width: 100%;

      th {
        padding-bottom: 10px;
        text-align: left;
      }

      td {
        vertical-align: top;
        white-space: nowrap;

        &.is {
          &-label {
            text-decoration: underline;
            color: webapp-color(danger);
          }

          &-offset {
            color: webapp-color(muted-dark);
          }

          &-jmp-graph {
            transform: rotate3d(0, 1, 0, 180deg);
            font-family: monospace;
            white-space: pre-wrap;
            font-weight: bold;
            color: webapp-color(dimmed-purple-blue);
          }
        }
      }

      &-header {
        &--binary { min-width: 105px; }
      }
    }
  }
}
