.l-repl {
  $self: &;

  &__container {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 15px auto;

    .o-code-editor {
      height: calc(100vh - 100px);
    }
  }

  &__editor {
    flex: 1;
    overflow: hidden;

    &:only-child {
      width: 100%;
    }
  }

  &__output {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: var(--repl-output-width);

    &:not(:only-child) {
      margin-left: 15px;
    }
  }

  &__toolbar {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:not(:first-child) {
      margin-top: 15px;
    }

    .c-nav__content {
      flex: 1 1 auto;
      overflow-y: auto;
      height: 0;
    }
  }
}
