.l-repl {
  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    margin: 15px auto;

    .o-code-editor {
      height: 500px;
    }
  }

  &-editor {
    overflow: hidden;

    &:only-child {
      width: 100%;
    }

    &:not(:only-child) {
      width: 800px;
      margin-right: 15px;
    }
  }

  &-output {
    width: auto;

    canvas {
      display: block;
    }

    .c-card-content {
      height: 100%;
    }
  }
}
