.o-code-editor {
  max-width: 100%;
  padding: 5px 0;

  .CodeMirror {
    width: 100%;
    height: 100%;

    &-gutters {
      padding-right: 10px;
      background: none;
      border: none;
    }

    &-vscrollbar,
    &-hscrollbar {
      outline: 0;
    }
  }
}
